.titulo{
    background-color: rgb(9, 137, 137);
    color: black;
    border: 6px;
    font-size: 25px;
    padding: 20px;
    text-align: left;
}
.contenedor{
    position: absolute;
    top: 10px;
    right: 10px;
}

body{
    background-color: rgb(49, 137, 137);
}
a {
    text-decoration: none;
    color: black;
  }
.mi-lista{
    list-style-type: none;
    padding: 5px;
    border:5px solid black ;
    display: flex;
}
.mi-lista > div{
    flex: 1;
}

.mi-lista{
    margin: 10px 0;
}
.mi-lista button{
    background-color: #4CAF50;
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
.mi-lista button:hover{
    background-color: #3e8e41;
}


div{
    color: rgb(106, 112, 113);
    background-color: rgb(255, 255, 255);
}

p{
    color:red
}